.cache/
.mozilla/
.pki/
.texlive/
.Xauthority
.viminfo
.viminfo.tmp
.local/
Desktop/
Downloads/

.config/discord/
.config/pulse/
.config/docker/
.config/dconf/

.config/vim/temp_dirs/*
.config/zsh/.zcompdump
.config/bpytop/error.log
